.App {
  padding: 5px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.item-tarefa{
  display: grid;
  grid-template-columns: auto 2fr 1fr auto auto;
  grid-gap: 5px;
}

.item-tarefa svg{
  font-size: 1.2rem;
  margin: 16px 5px;
}